# On the Nexys 2 board, pin numbers are given in (parenthesis),
# and item names are given withOUT parenthesis.
# Slide Switches - INPUTS
NET "A<7>" LOC = "R17"; #Type = INPUT, Sch name = SW7
NET "A<6>" LOC = "N17"; #Type = INPUT, Sch name = SW6
NET "A<5>" LOC = "L13"; #Type = INPUT, Sch name = SW5
NET "A<4>" LOC = "L14"; #Type = INPUT, Sch name = SW4
NET "A<3>" LOC = "K17"; #Type = INPUT, Sch name = SW3
NET "A<2>" LOC = "K18"; #Type = INPUT, Sch name = SW2
NET "A<1>" LOC = "H18"; #Type = INPUT, Sch name = SW1
NET "A<0>" LOC = "G18"; #Type = INPUT, Sch name = SW0


# LED lights - OUTPUTS
NET "Z<7>" LOC = "R4"; #Type = OUTPUT, Sch name = LD7
NET "Z<6>" LOC = "F4"; #Type = OUTPUT, Sch name = LD6
NET "Z<5>" LOC = "P15"; #Type = OUTPUT, Sch name = LD5
NET "Z<4>" LOC = "E17"; #Type = OUTPUT, Sch name = LD4
NET "Z<3>" LOC = "K14"; #Type = OUTPUT, Sch name = LD3
NET "Z<2>" LOC = "K15"; #Type = OUTPUT, Sch name = LD2
NET "Z<1>" LOC = "J15"; #Type = OUTPUT, Sch name = LD1
NET "Z<0>" LOC = "J14"; #Type = OUTPUT, Sch name = LD0